{% extends "layout.html" %}

{% block title %}Create A Profile | {{ super }}{% endblock %}

{% block body %}
    <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {{ field.label }}
        <div class="row">
        {{ field}}
        </div>
    {% endfor %}
    <button type="submit">Create</button>
    </form>
{% endblock %}