{% extends "layout.html" %}

{% block title %}Change Password | {{ super }}{% endblock %}

{% block body %}
    <div class="grid-100">
    <h2>Change Your Password</h2>
    <hr/>
    </div>
    <div class="grid-75">
        <form action="" method="POST">
            {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <ul>
                {% for error in field.errors %}
                  <li><a class="error">{{ error|escape }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {{ field.label }}
            <div class="row">
                {{ field }}
            </div>
        {% endfor %}
            <button class="button button-primary" type="submit">Submit</button>
            <a href="{% url 'profile:me' %}" class="button">Cancel</a>
        </form>
    </div>
{% endblock %}